*{
    margin:0;
    padding: 0;
 
}
header{
    font-size: 23px;
}

.main{
    background: #f8f9fa;
    width: 100%;
    height: 100%;
}
.main-content{
    width: 50vw;
    padding: 80px;
}

h1{
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: 900;
    color: #838bff;
}
h2{
    
    font-weight: 900;
    font-size: 25px;
    color:  #0c063b;
}

h3{
    font-size: 25px;
    font-weight: 900;
    color: #0c063b;
}
h4{
    font-size: 22px;
    font-weight: 800;
    color:  #0c063b;
}

p{
    margin-top:20px;
    font-size: 10px;
    margin-bottom:20px;

}


body{
    background-image: url(fotodefundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #60A8EF;
}


.second-content h1{
    text-align: center; 
    position: relative;
    top: 50px;

}

i{
  font-size: 50px;
  margin: 25px;
}
.col{
    margin-left:15px;
    position: relative;
    top: 80px;
    z-index: 2;
    background-color: #ffffff;
    border-radius: 25px;
    height: 1700px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}


.second-content p{
    font-size: 18px;
}

.waveimg{
    position: relative;
    left: 0px;
    z-index: 1;
}

img{
    margin: 5px;
}